{% extends 'base_default.html' %}

{% block main %}
<h1>Login</h1>

<form action="/login" method="POST">
  {% csrf_token %}

  {% if error %}
  <div class="text-error flex gap-4 items-center">
    <i data-feather="x"></i>
    <p class="font-bold">{{ error }}</p>
  </div>
  {% endif %}

  {% for field in form %}
  <div class="form-control">
    <label class="label">
      <span class="label-text">{{ field.label }}</span>
    </label>

    {{ field }}
  </div>
  {% endfor %}

  <div class="form-control mt-8">
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  </div>
</form>
{% endblock %}