{% extends 'base_default.html' %}

{% block main %}

<a href="/books" class="btn btn-ghost mb-4">
    <i data-feather="arrow-left"></i>
    Back
</a>

{% if book %}
<div class="book flex items-start gap-4">
    <img src="/{{ book.cover }}" class="my-0 h-36" alt="">
    <div class="flex-1">
        <h6 class="card-title">
            {{ book.title }}
        </h6>
        <p>by {{ book.author.name }}, {{ book.publisher.name }}</p>
        <div>
            <div class="badge badge-outline">{{ book.collection.name }}</div>
            <div class="badge badge-outline">{{ book.genre }}</div>
        </div>
    </div>
</div>

<div class="booksellers">
    <table class="table w-full">
        <!-- head -->
        <thead>
            <tr>
                <th></th>
                <th>Bookseller</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            {% for item in bookItems %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ item.inventory.bookseller.name }}</td>
                <td>{{ item.quantity }}</td>
                <td class="flex items-center gap-4">
                    <a href="{% url 'bookseller:inventory-delete' id=item.id %}">
                        <i data-feather="book-open"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}